:root {
  --primary: #8d3400;
  --bg: #ffffff;
  --font-weight: 700;
  --tebal: 500;
  --kecil-tebal: 350;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

h1, h2, h3, .navbar-logo {
  font-family: 'Fredoka', sans-serif;
  letter-spacing: 1px;
}

body, p, a, input, button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #010101;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #ffffffad;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 3rem;
  font-weight: 700;
  color: #010101;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #010101;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  font-weight: var(--font-weight);
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #010101;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* NAVBAR SEARCH FORM */
.navbar-search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../Menu/makanan/Background_cafeee.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.322) 0%, rgba(255, 255, 255, 0) 100%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  position: relative;
  z-index: 10;
  animation: munculDariKiri 1s ease both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.hero .content h1 {
  font-size: 5em;
  color: #000000;
  text-shadow: none;
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: var(--font-weight);
  text-shadow: none;
  color: #000000;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 0 0 0 0 rgba(141, 52, 0, 0.7);
  animation: denyut 2s infinite; 
  transition: 0.3s;
}

.hero .content .cta:hover {
  background-color: #6f2900;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(141, 52, 0, 0.4);
  animation: none;
}

/* MENU SECTION */
.menu h2, .contact h2 {
  margin-bottom: 1rem;
}
.menu p, .contact p {
  text-align: center;
  max-width: 40rem;
  margin: auto;
  font-weight: var(--tebal);
  line-height: 1.6;
}

.Menu-Makanan-Minuman {
  text-align: center;
  margin: 2rem auto 1rem auto;
  font-size: 1.8rem;
  color: #000000; 
  border-bottom: 2px solid #000000;
  display: table;
}

.menu .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 2rem;
  transition: 0.4s ease;
  border-radius: 1.5rem;
  background-color: transparent;
}

.menu .row .menu-card:hover {
  transform: translateY(-10px);
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.menu .row .menu-card img {
  border-radius: 20%;
  width: 80%;
  transition: 0.4s ease;
}

.menu .row .menu-card:hover img {
  transform: scale(1.1) rotate(2deg);
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* ABOUT SECTION */
.about, .menu, .contact {
  padding: 8rem 7% 1.4rem;
}

.about h2, .menu h2, .contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
  animation: animasiKanan 1s ease both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  animation: animasiKiri 1s ease both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: var(--tebal);
  line-height: 1.6;
}

/* CONTACT SECTION */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #f0f0f0;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #aaa;
  padding-left: 2rem;
  animation: animasiNaik 1s ease both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #010101;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.contact .row form .btn:hover {
  background-color: #6f2900;
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/* FOOTER */
footer {
  background-color: rgb(83, 67, 46);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
  font-size: 1.5rem;
}

footer .socials a:hover, footer .links a:hover {
  color: #010101;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #010101;
  font-weight: 700;
}

/* LAPTOP */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
    color: #010101;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    border-left: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #010101;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    animation: mengambang 2s ease-in-out infinite alternate;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }
  
  .contact .row form {
    padding-top: 0;
  }
}

/* MOBILE */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .menu .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ANIMATION KEYFRAMES */
.navbar .navbar-logo span,
.about h2 span, 
.menu h2 span, 
.contact h2 span {
  display: inline-block;
}

.anim-bawah {
  color: #010101;
  animation: goyangBawah 1.5s ease-in-out infinite alternate;
}

.anim-atas {
  color: var(--primary);
  animation: goyangAtas 1.5s ease-in-out infinite alternate;
}

@keyframes munculDariKiri {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes mengambang {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes goyangBawah {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes goyangAtas {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes denyut {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(141, 52, 0, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(141, 52, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(141, 52, 0, 0);
  }
}

@keyframes animasiNaik {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animasiKanan {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animasiKiri {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}